.env
.venv/
server.pid
restart.flag
yolov*
yolo*
__pycache__/
capture.avi
capture.jpg
*.pyc
*.npy
datasets/
data/
logs/
vids/
imgs/
configs/
benchmarks/
counts/
counts_history/
tracking_history/
times_history/
mqtt_settings.enc
*.enc
benchmarks.log
dump.rdb
test.webm
mongo_config/
mongo_data/
runs/